<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylecreaent.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap">
    <title>Entreprise</title>
    <link rel="icon" href="/img/capsule_w.png" type="image/x-icon">
</head>
<script src="/js/creatent.js"></script>
<body>
    <header class="header1">
        <a href="https://www.youtube.com/watch?v=d_WjOBeLVn0&t=299s&ab_channel=EGO">
        <img src="/img/logopng.png" alt="Logo">
    </a>
    </header>
    
    <header class="header2">
        <form action="post" style="margin-top: 15vh;">
            <input type="text"placeholder="Nom de l'entreprise" id="nomEntI" >
            <select id="secteur">
                <option value="option0">Choisissez une option</option>
                <option value="option1">Informatique</option>
                <option value="option2">BTP</option>
                <option value="option3">Electronique</option>
              </select>
            <input type="text"placeholder="Date de création" id="dateCreaI">
        </form>
        <span id="msg"></span>
        <button class="btn-53" onclick="valid()">
           Créer
          </button>
          <p> * Tous les champs sont nécéssaires</p>
    </header>
    <header class="inscription">
             <p>Espace Création d'entreprise</p>
    </header>
   
</body>
</html>