<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightweightJobs</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap">
</head>


<!-- Body -->
<body>

    <!-- Header -->
    <header class="header">        

            <input placeholder="Rechercher" class="search" type="text">
        <div class="logo">
            <img src="/img/logopngcrop.png" alt="Logo">
        </div>
        <div class="login-button">
            <a class="connection" href="connexion.html">CONNEXION</a>
        </div>

    </header>
    <div class="container">
     <!-- Section top -->
     <section class="top">
        <a href="offres.html" class="recommended">
            <div class="left-content">
                <h3 class="Intitule">SAM SULEK INDUSTRIES</h3>
                <span class="Description">Description</span>
            </div>
            <div class="middle-content">
                <span class="Ville">Ville</span>
                <span class="Domaine">Domaine</span>
                <span class="Niveau">Niveau</span>
            </div>
        </a>
    </section>

    <!-- Section bottom -->
    <section class="bottom">
        <h2></h2>
        <div class="left">
            <a href="offres.html" class="last">
                <div class="left-content">
                    <h3 class="Intitule">SAM SULEK INDUSTRIES</h3>
                    <span class="Description">Description</span>
                </div>
                <div class="middle-content">
                    <span class="Ville">Ville</span>
                    <span class="Domaine">Domaine</span>
                    <span class="Niveau">Niveau</span>
                </div>
            </a>
            
            
             
        </div>
        <div class="right">
            <a href="accueil.html">
                <button class="btnmore">
                    <div class="original">PLUS D'OFFRES !</div>
                    <div class="letters">
                        <span>P</span>
                        <span>L</span>
                        <span>U</span>
                        <span>S</span>
                        <span style="color: black;"> e</span>
                        <span>D</span>
                        <span>'</span>
                        <span>O</span>
                        <span>F</span>
                        <span>F</span>
                        <span>R</span>
                        <span>E</span>
                        <span>S</span>
                        <span style="color: black;"> e</span>
                        <span>!</span>
                    </div>
                </button>
            </a>
        </div>
        
    </section>
    </div>
    
</body>

<!-- Footer -->
<footer class="footer">
    <p>SINCE 2024</p>
</footer>

</html>