* {
  padding: 0;
  margin: 0;
 font-family:josefin sans;
  /* border: 1px solid red */
}
body{
  width: 98vw;
  height: 98vh;
}
.header1{
  display:flex;
  width: 100vw;
  height: 12vh;
  background-color: black;
  align-items: center;
  justify-content: center;

  
  /* border: 1px solid red; */
}
.header1 img{
  width: 20%;
  height: 30%;
 
}
.header1 a{

  display: flex;
  align-items: center;
  justify-content: center;
 
}
.header2{
  display:flex;
  width: 100vw;
  height: 80vh;
  justify-content: center; 
  align-items: center; 
  text-align: center;
background: #e0e0e0;
box-shadow: inset 39px 39px 78px #b8b8b8,
          inset -39px -39px 78px #ffffff;
  flex-direction: column;


}

.header2 input{
  display:flex;
  flex-direction: column;
  width: 15vw;
  height:3vh ;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 4vh;
  padding:2vh;
  border-radius: 35px;
  border-style: solid;
  border-color: #131213;
  background-color: #131213;
  color: white; 
  font-weight: bold; 
  border-radius: 71px;
  position: relative;
  
}
.header2 span {
  display: flex;
  position: absolute;
  margin-left: 40vw;
  font-size: 1vw;
 
 }
.connexion{
  display: flex;
  position:relative;
  width: 100vw;
  height:5vh ;
  border-color: #131213;
  align-items: center;
  justify-content: center;
  top:-75vh;
  font-size: 5vh;
  
}
.btn-53,




.btn-53 {
  
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  margin-top: 10vh;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  width: 15vw;
  height: 7vh;
  text-transform: uppercase;
  padding: 0;
}



