body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed; /* Colle la barre en haut de l'écran /
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; / Ajustez selon vos besoins /
    padding: 0 10px; / Ajustez l'espacement à l'intérieur de la barre de navigation /
  }
  
  .navbar img {
    height: 100%; / Ajustez selon vos besoins /
  }
  
  .left-logo {
    / Aucun style supplémentaire nécessaire ici, mais vous pouvez en ajouter si vous le souhaitez /
  }
  
  .center-logo {
    / Pour centrer l'image, nous comptons sur justify-content: space-between; dans .navbar /
  }
  
  .right-logo {
    / Aucun style supplémentaire nécessaire ici, mais vous pouvez en ajouter si vous le souhaitez */
  }